venv
*.py[cod]
.DS_STORE

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Logs
pip-log.txt
chromedriver.log

# Unit test / coverage reports
.coverage
.tox
.noseids
nosetests.xml

# Config / database
*.db

# emacs crap
*#
*~
